.book-details {
  margin-top: 20px;
  max-width: 80%;
  margin: 0 auto;
  &-abstract {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  }
  & > main {
    margin: 0 auto;
    margin-top: 30px;
  }
  &-detailBox {
    display: flex;
    img {
      height: 320px;
    }
  }
  &-buttons {
    position: fixed;
    display: block;
    height: fit-content;
    right: 3%;
    top: 50%;
    bottom: 50%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}
